<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NURBURGER</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>

    <link rel="stylesheet" href="{% static 'vender/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="{% static 'vender/icofont/icofont.min.css' %}">

    <link rel="stylesheet" href="{% static 'vender/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vender/slick/slick/slick-theme.css' %}">

    <link rel="stylesheet" href="{% static 'vender/sidebar/demo.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<script src="{% static 'vender/bootstrap/js/bootstrap.bundle.min.js' %}"
        type="bbf01de493b7c3f6bd9b60f5-text/javascript"></script>

<script src="{% static 'vender/jquery/jquery.min.js' %}" type="bbf01de493b7c3f6bd9b60f5-text/javascript"></script>

<script src="{% static 'vender/slick/slick/slick.min.js' %}" type="bbf01de493b7c3f6bd9b60f5-text/javascript"></script>

<script src="{% static 'vender/sidebar/hc-offcanvas-nav.js' %}"
        type="bbf01de493b7c3f6bd9b60f5-text/javascript"></script>

<script src="{% static 'js/custom.js' %}" type="bbf01de493b7c3f6bd9b60f5-text/javascript"></script>
<script src="https://askbootstrap.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="bbf01de493b7c3f6bd9b60f5-|49" defer></script>
</body>
</html>